@import '../variables.scss';

.load {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $black;
  
    &__image {
      animation-name: rotation;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      opacity: 0;
      transform: rotate(360deg);
    }
  }
  