$gray: rgba(255, 255, 255, 0.2);
$white: white;
$yellow: #e8c300;
$black: black;
$secondary-gray: #e5e5e5;

$font-8: 8px;
$font-11: 11px;
$font-12: 12px;
$font-13: 13px;
$font-16: 16px;
$font-20: 20px;
$font-22: 22px;
$font-30: 30px;
$font-33: 33px;
$font-40: 40px;
$font-89: 89px;